.ivz-page-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 3px 0px;
    background: #ffffff;
}
.ivz-page-view .ivz-view,.ivz-page-view.ivz-default-view {
    padding: 8px 16px;
}

.ivz-page-view .ivz-view-drawer, .ivz-page-view .ivz-view-modal {
    padding: 0px 0px!important;
}
.ivz-page-view .ivz-ibt-fun {
    font-size: 13px;
    padding: 0px 5px;
    display: inline-block;
}
