.ivz-theme-pure .ivz-header-bar{
    height: 88px;
    padding: 0px;
    background: #ffffff;
}

.ivz-theme-pure .ivz-header-row {
    background: #ffffff;
}

.ivz-theme-pure .ivz-task-bar {
    background: #f9f9f9;
}

.ivz-theme-pure .ant-layout-sider {
    background: #ffffff;
}
.ivz-theme-pure .ivz-logo {
    height: 86px;
    min-height: 86px;
}
.ivz-theme-pure .ivz-logo-c {
    height: 80px;
    padding: 12px;
}

.ivz-theme-pure .ivz-main-container {
    background: #ffffff;
}

.ivz-theme-pure .ivz-sider .ant-menu-submenu-open .ant-menu-submenu-title {
    box-shadow: 0px 0px 3px 1px #8a8a8a;
}

.ivz-theme-pure .ivz-sider .ant-menu-submenu-active {
    color: #ffffff;
}
.ivz-theme-pure .ivz-sider .ant-layout-sider-children,ivz-theme-pure .ant-menu-root,ivz-theme-pure .ant-menu-sub {
    background: #ffffff;
}
.ivz-theme-pure .ivz-sider .ant-menu-item,ivz-theme-pure .ant-menu-submenu-title,ivz-theme-pure .ant-menu-submenu-arrow {
    color: rgb(234, 234, 234) !important;
}
.ivz-theme-pure .ivz-sider .ant-menu-item-selected,ivz-theme-pure .ant-menu-item:hover,ivz-theme-pure .ant-menu-submenu-title:hover,ivz-theme-pure .ant-menu-submenu-arrow {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(144, 144, 144, 0.26) !important;
}

