.ivz-theme-default .ivz-header-bar{
    height: 86px;
    padding: 0px;
    background: #ffffff;
}

.ivz-theme-default .ivz-header-row {
    background: #ffffff;
}

.ivz-theme-default .ivz-task-bar {
    background: #eaeaea;
    box-shadow: 6px 3px 6px -2px #cacaca;
}

.ivz-theme-default .ant-layout-sider {
    background: #ffffff;
}
.ivz-theme-default .ivz-logo {
    height: 86px;
    min-height: 86px;
}
.ivz-theme-default .ivz-logo-c {
    height: 80px;
    padding: 17px 7px;
}
.ivz-theme-default .ivz-ism-title {
    color: #ffffff;
}

.ivz-theme-default .ivz-main-container {
    background: #ffffff;
}

.ivz-theme-default .ivz-sider .ant-menu-submenu-open .ant-menu-submenu-title {
    /*box-shadow: 0px 0px 3px 1px #8a8a8a;*/
}

.ivz-theme-default .ant-layout-sider-children,.ivz-theme-default .ant-menu-root
    ,.ivz-theme-default .ant-menu-sub,.ant-menu-submenu-popup .ant-menu {
    background: #465161!important;
}
.ivz-theme-default .ivz-sider .ant-menu-item,.ivz-theme-default .ant-menu-submenu-title,.ivz-theme-default .ant-menu-submenu-arrow
,.ivz-theme-popupmenu-default .ant-menu-item,.ivz-theme-popupmenu-default .ant-menu-submenu-title,.ivz-theme-popupmenu-default .ant-menu-submenu-arrow {
    color: rgb(224, 224, 224);
}
.ivz-theme-default .ant-menu-item:hover
    ,.ivz-theme-default .ant-menu-submenu-title:hover,.ivz-theme-default .ant-menu-submenu-arrow
    ,.ivz-theme-popupmenu-default .ant-menu-item:hover,.ivz-theme-popupmenu-default .ant-menu-submenu-arrow
    ,.ivz-theme-popupmenu-default .ant-menu-item-selected{
    background-color: rgba(144, 144, 144, 0.22) !important;
}
.ivz-theme-default .ant-menu-submenu-open .ant-menu-submenu-title,.ivz-theme-default .ant-menu-item-selected,.ivz-theme-default .ant-menu-submenu-arrow {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(144, 144, 144, 0.22) !important;
}
.ivz-theme-default .ant-menu-inline .ant-menu-item::after {
    border-right: 4px solid #c4c4c4;
}
