.ivz-theme-default .ivz-layout {
    background: #f0f2f5;
}
.ivz-theme-default .ivz-header-bar{
    height: 88px;
    padding: 0px;
    background: #ffffff;
}

.ivz-theme-default .ivz-header-row {
    background: #ffffff;
    height: 48px;
    line-height: 48px;
    border: 1px dashed #f2f2f2;
}

.ivz-theme-default .ivz-task-bar {
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.ivz-theme-default .ivz-logo {
    height: 86px;
    min-height: 86px;
}
.ivz-theme-default .ivz-logo-c {
    height: 80px;
    padding: 17px 7px;
}
.ivz-theme-default .ivz-ism-title {
    color: #ffffff;
}

.ivz-theme-default .ivz-main-container {
    padding: 12px 12px;
}