/*功能按钮样式*/
.ivz-func {
    cursor: pointer;
}
.ivz-func-tag {
    cursor: pointer;
}
.ivz-func-disabled {
    cursor: not-allowed;
    background: #cbcbcb!important;
}

/*功能 footer*/
.ivz-func-footer {
    padding: 8px;
    text-align: center;
}

/* ivz-basic-drawer组件 */
.ivz-drawer-footer {
    text-align: center;
}

/* ant-vue style */
.ivz-basic-modal .ant-modal-footer {
    text-align: center;
}
